[submodule "common"]
	path = common
	url = ../../cpp-port/common-port
[submodule "graphics3d"]
	path = graphics3d
	url = ../../cpp-port/graphics3d-port
[submodule "base"]
	path = base
	url = ../base-port-linux
